<!DOCTYPE html>
<html>
    <head>
                
        <link rel="stylesheet" href="../layui/css/layui.css">  
        <script src="../js/jquery-1.11.3.min.js"></script>
        <script src="/js/jquery.lineProgressbar.js" type="text/javascript"></script>
        <!--必要样式-->
        <link rel="stylesheet" href="/css/jquery.lineProgressbar.css">
    </head>

    <body>
        <div class="course-score" th:each="bigTask : ${bigTasks}">

        <div class="htmleaf-content">
                <h3 class="center" th:text="${bigTask.name}">name</h3>
                <div th:id="${bigTask.percent}">
                    <div class="progressbar" >
                    <div class="proggress">
                    </div>
                    </div>
                </div>
            </div>
            
        </div>   
            <!-- 考勤
            <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                <div class="layui-progress-bar layui-bg-red	" lay-percent="50%"></div>
            </div>
            平时作业
            <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                <div class="layui-progress-bar" lay-percent="90%"></div>
            </div>
            实验
            <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                <div class="layui-progress-bar layui-bg-orange" lay-percent="60%"></div>
            </div> -->
        </div>
    

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>当前</legend>
        </fieldset>    
        <table id="now" ></table>
        <div id="now1"></div>


        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>已截止</legend>
        </fieldset>    

        <table id="over" ></table>
        <div id="over1"></div>


    </body>

   

    
    <script src="../layui/layui.js"></script>
    <script th:inline="javascript">


        $(function(){
            var bigTasks = [[${percents}]];
            for(var i =0;i< bigTasks.length;i++){
                if(bigTasks[i]<60){
                $('#'+bigTasks[i]).LineProgressbar({
                percentage: bigTasks[i],
                fillBackgroundColor: "#f33",
                height: '15px',
                radius: '15px'
                 });
                }else if(bigTasks[i]<80){
                    $('#'+bigTasks[i]).LineProgressbar({
                    percentage: bigTasks[i],
                    fillBackgroundColor: '#f1c40f',
                    height: '15px',
                    radius: '15px'
                    });
                }else {
                    $('#'+bigTasks[i]).LineProgressbar({
                    percentage: bigTasks[i],
                    fillBackgroundColor: '#2fe',
                    height: '15px',
                    radius: '15px'
                    });
                }
             }
        })
            layui.use('element', function(){
            var element = layui.element;
           
            });
        layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#now'
            ,url: '/student/course/score?courseId='+'[[${courseId}]]' //数据接口
            ,request: {
                courseId:  [[${courseId}]],
                limit:3
             }
            ,response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                ,statusCode: 0 //规定成功的状态码，默认：0
                ,dataName: 'tasksNow' //规定数据列表的字段名称，默认：data
            } 
            ,cols: [[ //表头
            {field: 'smallTaskName', title: '标题', width:300, sort: true, fixed: 'left'}
            ,{field: 'bigTaskName', title: '分类', width:160}
            ,{field: 'deadline'  , title: '截止时间'  , width:140  , sort: true}
            ,{field: 'score'
                , title: '备注'
                , width:120
                ,templet : function(d) {
                    var score = d.score;
                    if(score==-1){
                            return '批改中'
                    }else if(score==-2){
                        return '待提交'
                    }else {
                        return '得分：'+score
                    }	
		    	}
            } 
            ,{field: 'score', title: '操作',
            templet: function(d) {
                return '<a href="/student/uploadTask?courseId=[[${courseId}]]&bigId='+d.bigTaskId+'&smallId='+d.id+'">提交</a>'
                }
                ,width:140} 

            ]]
           
          
          });





        table.render({
            elem: '#over'
            ,url: '/student/course/score?courseId='+'[[${courseId}]]' //数据接口
            ,request: {
                courseId:  [[${courseId}]],
                limit:3
             }
            ,response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                ,statusCode: 0 //规定成功的状态码，默认：0
                ,dataName: 'tasks' //规定数据列表的字段名称，默认：data
            } 
            ,cols: [[ //表头
            {field: 'smallTaskName', title: '标题', width:300, sort: true, fixed: 'left'}
            ,{field: 'bigTaskName', title: '分类', width:160}
            ,{field: 'deadline'  , title: '截止时间'  , width:140  , sort: true}
            ,{field: 'score'
                , title: '分数'
                , width:80
                ,templet : function(d) {
                    var score = d.score;
                    if(score<0){
                            return '0'
                    }else{
                        return score
                    }
                }
            }
            ,{field: ' '
                , title: '备注'
                , width:80
                ,templet : function(d) {
                    var score = d.score;
                    if(score==-1){
                            return '批改中'
                    }else if(score==-2){
                        return '未提交'
                    }
                    return '无'
		    	}
            }
            ,{field: ' ', title: '操作', templet: function(d) {return '查看'},width:80} 
            ]]
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
            //,curr: 5 //设定初始在第 5 页
            ,groups: 5 //只显示 1 个连续页码
            ,limits:[5,10,15,20,30,50]
            ,limit:5
            }
          });
        }); 
       
        </script>
</html>