<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>课程管理首页</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <!--引入awesome图标库的样式表-->
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/css/global.css">
</head>

<body style="background: #FFF; background:white url(/images/beijng.jpg) no-repeat 50% 0px; background-size:100% 100%">

  <style>


  </style>
  <!---定义最外面的容器,container-->
  <div class="layui-col-md12" style="padding: 0px; background: #FFF; ">

    <!--以下包含导航栏页面-->
    <ul class="layui-nav fly-nav-user" lay-filter="demo">
      <img style="padding-left: 400px; " src="/images/cuitlog.jpg">

    </ul>
    <p style="float:right; margin-right:50px">退出系统</p>
    <hr/>
  </div>
  <br/>
  <br/>



  <div class="layui-container fly-marginTop fly-user-main" style="margin-top:85px; border-top:1px ">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
      <li class="layui-nav-item ">
        <a href="/teacherAdmin/findAllTeacher" style="color:#626161;">
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
          教师管理
        </a>
      </li>
      <li class="layui-nav-item ">
        <a href="/users/findAll" style="color:#626161;">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          学生管理
        </a>
      </li>
      <li class="layui-nav-item layui-this">
        <a href="/course/findAllCourse"  style="color:#626161;">
          <i class="fa fa-book fa-lg" aria-hidden="true"></i>
          课程管理
        </a>
      </li>
    </ul>




    <div class="fly-panel fly-panel-user" pad20 >
      <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
        <!--以下是面包屑-->
        <div class="layui-card-header">
          <span class="layui-breadcrumb">
            <a><cite>后台管理</cite></a>
            <a id="currentType" href="#">课程管理</a>
            <a id="currentBrand" href="#"></a>
          </span>
        </div>

        <div id="LAY_minemsg" style="margin-top: 10px;">
          <table class="layui-table" lay-size="sm">
            <colgroup>
              <col width="150">
              <col width="200">
              <col width="150">
              <col width="150">
              <col width="150">
              <col width="240">
            </colgroup>
            <thead>
              <tr>
                <th>课程号</th>
                <th>课程名</th>
                <th>班级</th>
                <th>任课教师</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="c:${course}">
                <td th:text="${c.course.id}"> </td>
                <td th:text="${c.course.name}"> </td>
                <td th:text="${c.clazz.name}"> </td>
                <td th:text="${c.teacher.name}"> </td>
                <td>
                  <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-primary layui-btn-sm addCourse"><i class="layui-icon">&#xe654;</i></button>
                    <button th:title="${c.id}" class="layui-btn layui-btn-primary layui-btn-sm updateCourse"><i class="layui-icon">&#xe642;</i></i></button>
                    <button th:title="${c.id}" class="layui-btn layui-btn-primary layui-btn-sm deleteCourse"><i class="layui-icon">&#xe640;</i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!--分页组件-->
          <div id="mypager"></div>

        </div>
      </div>
    </div>

  </div>

  <script src="/res/layui/layui.js"></script>
  <script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'element', 'carousel', 'form', 'rate', 'laypage'], function () {
      var layer = layui.layer,
        form = layui.form;
      var element = layui.element;
      var carousel = layui.carousel;
      var rate = layui.rate;
      var laypage = layui.laypage;
      var $ = layui.$;

      //layer.msg('Hello World');

      //监听导航点击
      element.on('nav(demo)', function (elem) {
        //console.log(elem)
        layer.msg(elem.text());
      });

      //常规轮播
      carousel.render({
        elem: '#test10',
        arrow: 'always',
        interval: 3000,
        anim: 'fade',
        width: '100%',
        height: '600px',
        top: '-400px'
      });


      //半星效果
      rate.render({
        elem: '#test1',
        value: 2.5 //初始值
          ,
        half: true //开启半星
          ,
        readonly: true
      });

      rate.render({
        elem: '#test2',
        value: 3.5 //初始值
          ,
        half: true //开启半星
          ,
        readonly: true
      });

      rate.render({
        elem: '#test3',
        value: 4.5 //初始值
          ,
        half: true //开启半星
          ,
        readonly: true
      });

      rate.render({
        elem: '#test4',
        value: 5 //初始值
          ,
        half: true //开启半星
          ,
        readonly: true
      });

      rate.render({
        elem: '#test5',
        value: 5 //初始值
          ,
        half: true //开启半星
          ,
        readonly: true
      });

      rate.render({
        elem: '#test6',
        value: 5 //初始值
          ,
        half: true //开启半星
          ,
        readonly: true
      });

      laypage.render({
        elem: 'mypager',
        count: 70 //数据总数
          ,
        jump: function (obj) {
          console.log(obj)
        }
      });



      $('.addCourse').click(function () {

        layer.open({
          title: '添加课程信息',
          type: 2,
          area: ['860px', '600px'],
          content: '/course/toAddCourse'

        });

      })


      $('.updateCourse').click(function () {

    	  var id = $(this).prop("title");
        layer.open({
          title: '修改课程信息',
          type: 2,
          area: ['860px', '600px'],
          content: '/course/toUpdateCourse?id='+id
        });

      });

     

      $('.deleteCourse').click(function () {

        
    	  var id = $(this).attr('title'); //获得要删除的汽车的编号

          //提示用户是否要真的删除。
          layer.confirm('确认要删除吗?', {icon: 3, title: '提示'}, function (index) {
              //do something

              location.href="/course/deleteCourse?id="+id;

              //layer.close(index);
          });

      });

    });
  </script>

</body>

</html>