.login-content{
    width: 380px;
    margin: auto;
    margin-top: 10%;
}

.login-btn{
    width: 260px;
    align-self: auto;
}

.login-footer{
    text-align:center;
    margin-top: 70%;
}

.login-title{
    margin: 50px;
}

.info-title{
    font-size: 16px;
    padding: 20px;
    color:white;
}
.remember-me{
    margin: 109px;
    float: right;
}