<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
  <!--          这个界面啥也没有哟            -->
  <!--           判断用户是否登录             -->
	<title>伪の成都信息工程大学课程过程化考核系统</title>
  <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="../css/style.css"  media="all">

  
  <script src="../layer/layer.js"></script>
  <script src="../layui/layui.js"></script>
  

</head>

<body>

    <div class="htmleaf-content">
           <h3 class="center">控制进度条的圆角</h3>
        <div id="progressbar4"><div class="progressbar" style="width: 100%; background-color: rgb(238, 238, 238); border-radius: 50px;"><div class="proggress" style="background-color: rgb(241, 196, 15); height: 65px; border-radius: 50px; width: 78%;"></div><div class="percentCount">78%</div></div></div>
      </div>
      
      




</body>
</html>