<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>伪の成都信息工程大学课程过程化考核系统</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="css/login.css">  
  <script src="layui/layui.js"></script>
  <script src="js/js.js"></script>
</head>

<body>

  <div class=" layui-main login-content">
    <h1 class="login-title">伪の过程化考核系统</h1>
    <form class="layui-form" action="/users/login" method="POST"> 
      <div class="layui-form-item">
          <input  type="text" name="id" placeholder="请输入学号或工号"  class="layui-input">
      </div>
      <div class="layui-form-item">
            <input  type="password" name="password" placeholder="请输入密码"  class="layui-input">
      </div>
      <div class="layui-form-item">
          <label class="layui-form-label" >选择身份：</label>

          <div class="layui-input-block">
            <input type="radio" name="type" value="教师" title="教师" >
            <input type="radio" name="type" value="学生" title="学生" checked>
            <input type="radio" name="type" value="管理员" title="管理员" >
          </div>
      </div>
      <input type="submit" class="layui-btn login-btn"  value="登录"/>
    </form>


    <div class="login-footer">
            <p>Copyright © 1 RuLaiFoZu. All Rights Reserved.</p>
    </div>
  </div>

</body>

</html>