<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>伪の成都信息工程大学课程过程化考核系统</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="css/login.css">  

</head>

<body>

  <div class=" layui-main login-content">

    <h1 class="login-title">伪の过程化考核系统</h1>
    <form class="layui-form" action="/login" method="POST" lay-filter="login-form">
      <div class="layui-form-item">
          <label class="layui-form-label" >账&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp号：</label>

        <div class="layui-input-block">
          <input th:value=${id} type="text" name="id"  id="id" lay-verify="id"  placeholder="请输入学号或工号" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
          <label class="layui-form-label" >密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码：</label>
        <div class="layui-input-block">
          <input type="password" name="password" id="password" lay-verify="pass|required" placeholder="请输入密码"  class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">

      <label class="layui-form-label" >选择身份：</label>
      <div class="layui-input-block" >
        <input type="radio" name="type" value="Teacher" title="教师" >
        <input type="radio" name="type" value="Student" title="学生" checked="checked" >
        <input type="radio" name="type" value="Administer" title="管理员" >
      </div>
    </div>
    <input type="checkbox"  class="remember-me" title="记住我" checked="">
    <button type="submit"  class="layui-btn login-btn" lay-submit="" lay-filter="demo1">登录</button>     
</form>

    <div class="login-footer">
            <p>Copyright © 1 RuLaiFoZu. All Rights Reserved.</p>
    </div>
  </div>

</body>
  <script src="layui/layui.js"></script>
  
  <script th:inline="javascript">
  layui.use(['layer', 'form'], function(){
    var layer = layui.layer
    ,form = layui.form;

    form.verify({
    id:[
      /^\d{5,11}$/
      ,'请输入正确的学号或工号'
    ]
    ,pass: [
      /^[\S]{6,12}$/
      ,'密码格式错误，请重新输入'
    ]
    });
    var msg = [[ ${msg} ]];
    var focus = [[ ${focus} ]];
    var type = [[ ${type} ]];
    if (msg!=null)
        layer.msg(msg);

    form.val('login-form', {
      "type": type
    })
      
    document.getElementById(focus).focus();
  });
 
  </script>
</html>